name: Continuous Integration & Deployment

on:
  push:
    branches:
      - master  # Déclenche le flux de travail lorsqu'un commit est poussé sur la branche main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout du code
      uses: actions/checkout@v2

    - name: Login à Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build de l'image Docker
      run: docker build --tag fathallahblh/testvcode3:latest .

    - name: Push de l'image vers Docker Hub
      run: docker push fathallahblh/testvcode3:latest


